* {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;
  }
  
  .header {
	padding-top: 50px;
	left:850px;
  }
  
  .leftArea {
	position: absolute;
	left: 10px;
	top: 150px;
	bottom: 20px;
	width: auto;
	border:solid 1px #CCCCCC;
	overflow-y: scroll;
  }
  
  .mainArea {
	position: absolute;
	top: 150px;
	bottom: 20px;
	left:300px;
	overflow-y: scroll;
	width:auto;
  }
  
  .rightArea {
	position: absolute;
	top: 150px;
	bottom: 20px;
	left:650px;
	overflow-y: scroll;
	width:auto;
  }
  
  ul {
	list-style-type: none;
	padding-left: 0px;
	margin-top: 0px;
  }
  
  li a { 
	text-decoration:none;
	display: block;
	color: #000000;
	border-bottom:solid 1px #CCCCCC;
	padding: 8px;
  }
  
  li a:hover {
	background-color: #4B0A1E;
	color: #BA8A92;
  }
  
  input, textarea {
	border:1px solid #ccc;
	min-height:30px;
	outline: none;
  }
  
  .mainArea input {
	margin-bottom:15px;
	margin-top:5px;
	width:280px;
  }
  
  textarea {
	margin-bottom:15px;
	margin-top:5px;
	height: 200px;
	width:250px;
  }
  
  #searchName {
	width:160px;
  }
  


.w3-allerta {
	font-family: "Allerta Stencil", Sans-serif;
}

.w3-sofia {
	font-family: "Sofia", sans-serif;
	font-size: 30px;
}

.raleway {
	font-family: 'Raleway', sans-serif;
}

h1 {
	background-color: #4e0a54;
	color: white;
	margin: 0px;
	padding: 16px;
	text-align: center;
}

h3 {
	background-color: #4e0a54;
	color: white;
	margin: 16px;
	padding: 16px;
	text-align: center;
}

h4 {
	background-color: #4e0a54;
	color: white;
	margin: 8px;
	padding: 8px;
	text-align: center;
}

.table {
	border-width: 0.5px;
	border-style: solid;
	border-color: #C8C2CB;
	background-color: white;
	opacity: 85%;
}

.w3-hoverable tbody tr:hover {
	background-color: #4A235A;
	color: white;
}

.form {
	background-color: white;
	opacity: 80%;
	margin-bottom: 100px;
	padding: 16px;
	position: relative;
}

.form-container {
	background-color: white;
	opacity: 80%;
	margin-bottom: 100px;
	padding: 16px;
	position: relative;
	margin: auto;
	max-width: 600px;
}

.label {
	color: #4e0a54;
	font-weight: bold;
	text-align: left;
}

.label-white {
	color: white;
	font-weight: bold;
	text-align: left;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 8px;
	text-align: center;
	background-color: #4e0a54;
	color: white;
}

@media ( max-width : 1000px) {
	footer {
		display: none;
	}
}

body {
	padding-bottom: 100px;
	position: relative;
	min-height: 100vh;
}

.button {
	padding: 20px 40px;
	border: none;
	border-radius: 8px;
	margin-right: 16px;
	cursor: pointer;
}

button:hover {
	color: white;
	background-color: #4A235A;
}

.inputSubmit {
	padding: 20px 40px;
	border: none;
	border-radius: 8px;
	margin-right: 16px;
	cursor: pointer;
	margin: 32px;
	background-color: #a663c2;
}

.menuType {
	border: none;
	border-radius: 8px;
	background-color: #a663c2;
	cursor: pointer;
	margin-left: 16px;
	padding: 20px;
	width: 50%;
}

input[type="submit"]:hover {
	color: white;
	background-color: #4A235A;
}

.inputText {
	border: 1px solid;
	padding: 8px;
	margin: 8px 0;
	width: 100%;
	box-sizing: border-box;
}

.input {
	width: 30%;
	background-color: transparent;
}